<div class="text-center">
  <%= form_for (post) do |f| %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, required: 'required' %>
    </div>

    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content, required: 'required' %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

  <% end %>
</div>
